.App {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: black;
    color: lightgreen;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
